*.pyc
__pycache__/
myvenv/
db.sqlite3
settings.py
local_settings.py
.idea/
.vscode/*
!.vscode/extensions.json
*.pydevproject
*.pyc
*.bak
*.swp
*.env
.env
env/
venv/
ENV/
/log/
*.log
/media/
/test_db.sqlite3
.DS_Store
Thumbs.db